<div class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">Memory Game</div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>


    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">Movements: <span class="tag is-primary animate particle">05</span></div>
            <div class="navbar-item">Remains: <span class="tag is-primary">19</span></div>
            <div class="navbar-item">
                <button class="button is-primary">
                    <fa-icon icon="cog"></fa-icon> <span>Settings</span>
                </button>
            </div>
        </div>
    </div>
</div>