<div class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">Memory Game</div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item"><app-label-info title="{{ 'movements'|i18n }}" [value]="movements"></app-label-info></div>
            <div class="navbar-item"><app-label-info title="{{ 'remains'|i18n }}" [value]="remains"></app-label-info></div>
            <div class="navbar-item has-dropdown is-hoverable">
                <app-dropdown-select title="{{ 'language'|i18n }}" [items]="languages"
                    [value]="actualLanguage" (selectChoice)="selectLanguage($event)"></app-dropdown-select>
            </div>
            <div class="navbar-item">
                <app-button is="primary" icon="cog" (clicked)="openSettings()">{{ 'settings'|i18n }}</app-button>
            </div>
        </div>
    </div>
</div>