<app-header></app-header>
<section class="section">
    <div class="container">
        <section>
            <div class="columns" *ngFor="let item of items">
                <div class="column is-2"><app-card></app-card></div>
                <div class="column is-2"><app-card></app-card></div>
                <div class="column is-2"><app-card></app-card></div>
                <div class="column is-2"><app-card></app-card></div>
                <div class="column is-2"><app-card></app-card></div>
                <div class="column is-2"><app-card></app-card></div>
            </div>
        </section>
    </div>
</section>
<router-outlet></router-outlet>
