<app-header (foundPair)="onFoundPair($event)"></app-header>
<section class="section">
    <div class="container">
        <div class="columns" *ngFor="let item of rows; index as i">
            <div class="column is-1-desktop is-1-fullhd is-2-mobile" *ngFor="let card of cards[item]; index as j">
                <app-card [number]="card" (flipped)="onFlippedCard(i, j)" (beforeFlipped)="onBeforeFlipped(i, j)"
                    [canFlip]="canFlip"></app-card>
            </div>
        </div>
    </div>
</section>